$dark-grey: #252525;
$grey: #333;
$light-grey: #888;
$border-grey: #444;
$blue: #398cba;
$black: #000;
$yellow: #dda30b;
$blue-gradient-from: #00244c;
$blue-gradient-to: #09153b;
$yellow-gradient-from: #ffe428;
$yellow-gradient-to: #fe8d00;

body {
    background-color: $dark-grey;
    background-image: url("../../static/img/hexa.png");
    text-align: center;
    font-family: pubg, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

[v-cloak] {
    display: none;
}

.shoot-container {
    position: relative;
    width: 700px;
    height: 600px;
    margin: 100px auto 0 auto;
    border: 1px solid $grey;
    border-radius: 12px;
    overflow: hidden;

    background-color: $blue-gradient-from;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$blue-gradient-from), color-stop(100%,$blue-gradient-to));
    background: -webkit-linear-gradient(175deg, $blue-gradient-from 0%, $blue-gradient-to 100%);
    background:    -moz-linear-gradient(175deg, $blue-gradient-from 0%, $blue-gradient-to 100%);
    background:     -ms-linear-gradient(175deg, $blue-gradient-from 0%, $blue-gradient-to 100%);
    background:      -o-linear-gradient(175deg, $blue-gradient-from 0%, $blue-gradient-to 100%);
    background:         linear-gradient(175deg, $blue-gradient-from 0%, $blue-gradient-to 100%);

    box-shadow: 0px 0px 25px -5px $black;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    .overlay-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .shoot-header {
            width: 100%;
            height: 100px;
            background: linear-gradient(0deg, $dark-grey 0%, $grey 100%);
            border-bottom: 1px solid $grey;
            text-align: left;

            img {
                display: inline-block;
                width: 100px;
                height: 100px;
                margin-left: 30px;
                vertical-align: middle;
                cursor: pointer;
            }

            h1 {
                display: inline-block;
                vertical-align: middle;
                margin: 0 20px;
                font-size: 50px;
                font-weight: lighter;
                text-transform: uppercase;
                background: $yellow-gradient-from; /* Old browsers */
                background: -moz-radial-gradient(center, ellipse cover, $yellow-gradient-from 0%, $yellow-gradient-to 96%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover, $yellow-gradient-from 0%,$yellow-gradient-to 96%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center, $yellow-gradient-from 0%,$yellow-gradient-to 96%); /* W3C, IE10+, FF16+, Chrome26+, */
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .weapon-menu {
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 101px;
            width: 100%;
            height: 100%;
            text-align: left;
            background: linear-gradient(0deg, $dark-grey 0%, $grey 100%);
            cursor: default;
            z-index: 300;

            .catselected {
                border: 1px solid $border-grey;
                border-bottom: 0 !important;
            }

            .weapon-category-item {
                display: inline-block;
                cursor: pointer;
                border-bottom: 1px solid $border-grey;

                h3 {
                    color: $light-grey;
                    margin: 5px 10px;
                    font-size: 30px;
                    font-weight: lighter;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                h3:hover {
                    color: $yellow;
                }

                .weapon-list {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: calc(100% - 150px);
                    margin-top: 50px;

                    .weapon-item {
                        position: relative;
                        display: inline-block;
                        width: 130px;
                        height: 130px;
                        margin: 5px;
                        color: $yellow;
                        border-radius: 5px;
                        background-color: transparent;
                        transition: background-color 0.3s ease-in-out;
                        cursor: pointer;

                        h2 {
                            position: absolute;
                            bottom: 0;
                            margin: 3px;
                            font-size: 17px;
                            font-weight: lighter;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .weapon-item:hover {
                        color: $black;
                        background-color: $yellow;
                    }
                }
            }
        }
    }

    .shoot-area {
        position: relative;
        width: 100%;
        height: calc(100% - 101px);
        margin-top: 101px;
        cursor: pointer;
        overflow: hidden;

        img.aim {
            position: absolute;
            left: -200px;
            margin-left: -86px;
            margin-top: -58px;
            pointer-events: none;
            z-index: 200;
        }

        .target {
            position: absolute;
            width: 80px;
            height: 80px;
            margin-left: -40px;
            margin-top: -40px;
            border: 2px solid $black;
            border-radius: 80px;
            background-color: $grey;
            overflow: hidden;
            z-index: 1;
            transform: scale(0.0);
            animation-name: showGrow;
            animation-duration: 6s;
            animation-timing-function: ease-in-out;

            .health {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: $yellow-gradient-from; /* Old browsers */
                background: -moz-radial-gradient(center, ellipse cover, $yellow-gradient-from 0%, $yellow-gradient-to 96%);
                background: -webkit-radial-gradient(center, ellipse cover, $yellow-gradient-from 0%,$yellow-gradient-to 96%);
                background: radial-gradient(ellipse at center, $yellow-gradient-from 0%,$yellow-gradient-to 96%);
                z-index: 10;
                transition: height 0.2s;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 80px;
                height: 80px;
                margin-left: -2px;
                z-index: 11;
            }
        }

        .reload {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 200px;
            height: 15px;
            margin-left: -100px;
            margin-top: -8px;
            border: 2px solid $border-grey;
            border-radius: 15px;
            background-color: $grey;
            overflow: hidden;
            pointer-events: none;
            z-index: 250;

            h2 {
                position: absolute;
                left: 0;
                top: -2px;
                width: 100%;
                margin: 0;
                font-size: 17px;
                font-weight: lighter;
                letter-spacing: 3px;
                text-shadow: 0px 0px 6px #fff;
            }

            div {
                background-color: $yellow;
                width: 100%;
                height: 100%;
            }
        }

        .bullets {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 10px;
            font-size: 25px;
            color: $yellow;
            z-index: 260;
        }
    }
}


@keyframes showGrow {
    0% { transform: scale(0.0); }
    50% { transform: scale(1.0); }
    100% { transform: scale(0.0); }
}

@font-face {
    font-family: "pubg";
    src: url("../fonts/headliner45.ttf") format("truetype");
}
